[submodule "eigen"]
	path = eigen
	url = https://github.com/libigl/eigen.git
[submodule "libigl"]
	path = libigl
	url = https://github.com/libigl/libigl.git
[submodule "liblgl/include/igl"]
	path = liblgl/include/igl
	url = https://github.com/libigl/libigl.git
[submodule "submodules/liblgl/include/igl"]
	path = submodules/liblgl/include/igl
	url = https://github.com/libigl/libigl.git
[submodule "submodules/eigen"]
	path = submodules/eigen
	url = https://github.com/libigl/eigen.git
[submodule "submodules/libigl"]
	path = submodules/libigl
	url = https://github.com/libigl/libigl.git
